.Rproj.user
.Rhistory
.RData
.DS_Store
vignettes
inst
info
sources_vignettes/**/*.snm
sources_vignettes/**/*.synctex.gz
sources_vignettes/**/*.tex
sources_vignettes/**/*.toc
sources_vignettes/**/*.log
sources_vignettes/**/*.nav
sources_vignettes/**/*.vrb
sources_vignettes/**/figure/
my_plot.pdf
