.Rproj.user
.Rhistory
.RData
.DS_Store
vignettes/**/*.snm
vignettes/**/*.synctex.gz
vignettes/**/*.tex
vignettes/**/*.toc
vignettes/**/*.log
vignettes/**/*.nav
vignettes/**/*.vrb
vignettes/**/figure/
my_plot.pdf
